/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "admin";
 @import "scrollbars";



/* Login Form */
.login-tex-header {
  text-align: center;
  font-size: 48px;
  margin: 20px 0px 30px 0px;
}
/* ./Login Form */

.fa-bars:before {
  content: "\f0c9"; 
}


/* Header */
.content-wrapper {
  background-color: #f9f9f9 !important;
  .content {
    .row {
      .col-md-6 {
        h1 {
          padding-left: 10px;
        }
      }
      .col-md-6 {
        .breadcrumb {
          background-color: transparent;
        }
      }
    }
  }
}

.main-header {
  .ml-auto {
    .nav-item {
      h4 {
        margin: 0px;
        font-size: 16px;
      }
    }
  }
}
/* ./Header */

/* Table */
.table-striped {
  border-collapse: collapse;

  thead {
    tr {
      th {
        background-color: #029b75;
        border: 0px;
        color: white;
      }
    }
  }

  tbody {
    td {
      border: 1px solid #dcdcdc;
    }
  }
}

.table-wrapper {
  padding: 0 30px 0 30px;;
}

.new-role {
  label {
    font-weight: 500 !important;
  }
  input {
    margin: 0 10px 0 0;
  }
}
/* ./ Table */

/* Form */
.form-group {
  lable {
    font-weight: 700;
  }
  
  input {
    width: 100%;
  }
}

.user-form {
  .col-md-6 {
    padding: 0px !important;
  }
}

.submit-group {
  padding-left: 25px;
  
  .btn-cancel {
    border: 2px solid #28a745;
    margin-left: 10px;
  }
}
/* ./From */

/*Btn*/
.table-responsive {
  .btn-group {
    width: 25px;
    height: 25px;
  }
}
.btn-primary {
  background-color: #008061;
  padding: 10px 15px;
}
.btn-primary-edit {
  background-color: #008061;
}
.btn-default {
  color: #008061;
  background-color: #FFFFFF;
  border-color: #008061;
  padding: 10px 15px;
  margin: 0 0 0 5px;
}
.fa-pen-square {
  color: white;
}
/*./Btn*/

/*Snort Rule Form*/
.snort-rule-block {
  padding: 10px 0 10px 5px;
}
.snort_rule_direction {
  .direction-group {
    input {
      width: auto;
    }
  }
}
.snort-rule-block-direction {
  label {
    display: flex;
    justify-content: center;
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      display: flex;
      justify-content: center;
      input {
        width: auto;
        margin: 0 10px 0 0;
        width: 20px;
        height: 20px;
      }
      label {
        width: auto;
        float: left;
      }
    }
    .li-last {
      margin: 45px 0 0 0 !important;
    }
  }
}

#snort_rule_options {
  width: 100%;
}
.wrong-clearfix {
  padding: 0;
}
/*./Snort Rule Form*/

/*Role Form*/
.role_name_label {
  float: left;
  margin: 0 25px 0 0;
}
/*./Role Form*/

/*Select*/
.select {
  select {
    width: 100%;
    height: 30px;
  }
}
/*./Select*/
